<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="footer mt-2">
        <footer class="bg-dark text-light py-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h5>About Us</h5>
                        <p>
                            BSMRSTU Blood Bank Management Stytem is dedicated to providing safe and quality blood for
                            those in need.We aim to make the process of blood donation and distribution efficient and
                            effective.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h5>Quick Links</h5>
                        <ul class="list-unstyled">
                            <li><a href="/home">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="/home/search">Find Donors</a></li>
                            <li><a href="/home/posts">Recipients</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h5>Contact Us</h5>
                        <p>
                            Address: Satkhira, Khulna, Bangladesh<br>
                            Phone: +8801797399432<br>
                            Email: azizulcsebsmtstu@gmail.com
                        </p>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="https://www.facebook.com/azizur.rahman.7315720"><i
                                        class="fab fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/abdul-aziz-956209253/"><i
                                        class="fa-brands fa-linkedin"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="text-center">
                    <p>&copy; 2024 BSMRSTU Blood Bank. All Rights Reserved.</p>
                </div>
            </div>
        </footer>

    </div>
</body>

</html>