<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <div>
            Name: <%= profile.name %>
        </div>
        <div>
            Email: <%= profile.email %>
        </div>
        <div>
            <% if(profile.donor) {%>
                Doner: <%= profile.doner %>
                    <% } %>
        </div>
        <form action="/users/updaterole/<%=profile.username%>" method="post">
            <div>
                <% if(profile.role==1) { %>
                    <td>System Admin</td>
                    <% } else if (profile.role==2) {%>
                        <td>Volenteer</td>
                        <% } else if (profile.role==3) {%>
                            <td>General User</td>
                            <% } %>
            </div>
            <button type="submit">update Role</button>
        </form>
    </body>