<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <h2><i>Search Result show Page Page</i></h2>
        Welcome to BSMRSTU Blood Bank Management System Search Result Page...
        <br>
        Alhamdulillah I hope You are Well By the Graceo of Almighty Allah.
        <br>
        This is Search Result Page...
        <br> <br>
        <form method="GET" action="/home">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button>Go to Home</button>
        </form>
    </body>